.body {
  background: #f8f8f2;
  font-family: 'Poppins', sans-serif;
}

@media (prefers-color-scheme: dark) {
  .body {
    background: #282a36;
    color: #ced8de;
  }

  .header h1 {
    color: white;
  }
}

.container {
  margin: 0 auto;
  max-width: 900px;
}

.header {
  text-align: center;
  font-size: 17.75px;
}

.header a {
  padding: 1em;
}

h1, h2, h3 {
  font-weight: 400;
}

a {
  color: #ff79c6;
}

.top-spacing {
  margin-top: 12%;
}
