<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{ block "title" . }}
    {{ .Site.Title }}
    {{ end }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Poppins:400&display=swap" rel="stylesheet"> 

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/masonry.css">
  <link rel="stylesheet" href="/css/spotlight.css">
  <link rel="stylesheet" href="/css/custom.css">
</head>

<body class="body">
  <div class="container">
    <header class="header top-spacing">
      <h1>{{.Title}}</h1>

      <a href="https://www.wroten.me/">
        Portfolio
      </a>
      <a href="https://gaiety.life/">
        Life (Blog)
      </a>
    </header>
    <!-- Code that all your templates share, like a header -->
    {{ block "main" . }}
    <!-- The part of the page that begins to differ between templates -->
    {{ end }}
    {{ block "footer" . }}
    <!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
    {{ end }}
  </div>
  <script src="/js/spotlight.min.js"></script>
</body>

</html>
