{{ define "main" }}
<div class="top-spacing">
    {{.Content}}
    <div class="masonry spotlight-group" data-theme="white">
        {{ range $.Site.Data.photos }}
            <a class="item spotlight white" href="{{ .src }}">
                <img src="{{ .src }}?nf_resize=fit&w=300">
                <div class="caption">{{ .name }}</div>
            </a>
        {{ end }}
    </div>
</div>
{{ end }}
